body {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    padding:5%;
    margin-bottom:0!important;
}

.navbar .logo {
    float:left;
}

.navbar .search, .navbar .account {
    margin-top:50%;
    float:right;
}

.navbar-toggle {
    margin-top:15px;
}

.navbar-inverse .navbar-collapse {
    margin-top:3%;
}

.navbar-inverse {
    background-color: #333;
}

.input-group.search-box { display:none; }

.navbar-inverse .navbar-nav>.active>a {
    border-bottom:3px solid #f28e00;
    background:none;
}

.carousel .container-fluid {
    padding:0;
    margin:0;
}

.carousel-inner>.item>img {
    height:200px;
}

.button-carousel {
    text-decoration: none;
    background-color: #e65722;
    color: #fff;
    padding: 1% 3% 1% 3%;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    font-size:14px;
    text-transform: uppercase;
}

a:hover.button-carousel {
    color:#cccccc;
    text-decoration:none;
}

.carousel-caption {
    bottom:27px;
}

.hp-grid-01 {
    background: url('../images/homepage/tiles/homepage-join-clubs-societies.png') no-repeat;
    height:250px;
    padding:0;
}

.hp-grid-02 {
    background: url('../images/homepage/tiles/freshers-social.png') no-repeat;
    height:250px;
    padding:0;
}

.hp-grid-03 {
    background: url('../images/homepage/tiles/NUS-extra.png') no-repeat;
    height:250px;
    padding:0;
}

.hp-grid-04 {
    background: url('../images/homepage/tiles/elections-tile.png') no-repeat;
    height:250px;
    padding:0;
}

.hp-grid-05 {
    background: url('../images/homepage/tiles/classrep-tile.png') no-repeat;
    height:250px;
    padding:0;
}

.hp-grid-06 {
    background: url('../images/homepage/tiles/myvoice-tile.png') no-repeat;
    height:250px;
    padding:0;
}

.grid-colour-1 {
    background-color: rgba(60, 78, 84, 0.9);
    position: relative;
    top: 50%;
    left: 0;
    height: 45%;
}

.grid-colour-2 {
    background-color: rgba(240, 123, 5, 0.9);
    position: relative;
    top: 50%;
    left: 0;
    height: 45%;
}

.grid-colour-1.reverse {
    background-color: rgba(240, 123, 5, 0.9);
    position: relative;
    top: 50%;
    left: 0;
    height: 45%;
}

.grid-colour-2.reverse {
    background-color: rgba(60, 78, 84, 0.9);
    position: relative;
    top: 50%;
    left: 0;
    height: 45%;
}

.grid-colour-1 h3, .grid-colour-2 h3 {
    color:#fff;
    text-transform:uppercase;
    font-size: 22px;
    padding: 6%;
    font-weight:bold;
    line-height: 43px;
    text-align:center;
}

.grid-colour-1 a:hover, .grid-colour-2 a:hover {
    text-decoration: none;
    color:#fff;
}

.latest-news {
    background:#f7f7f7;
    min-height:500px;
    position:relative;
}

.latest-news h2 {
    text-align: center;
    color:#3c4e54;
    font-size:35px;
    font-weight:bold;
    text-transform: uppercase;
    padding:10%;
    margin:0;
}

.news-grid-01 {
    background: url(../images/homepage/latest-news/NUS-award-news.png) top center no-repeat;
    height: 330px;
    margin:0;
    border:1px solid #f2f2f2;
}

.news-grid-02 {
    background: url(../images/homepage/latest-news/freshers-news.png) top center no-repeat;
    height: 330px;
    margin:0;
    border:1px solid #f2f2f2;
}

.news-grid-03 {
    background: url(../images/homepage/latest-news/sa-handover-news.png) top center no-repeat;
    height: 330px;
    margin:0;
    border:1px solid #f2f2f2;
}

.news-grid-colour-1 {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    top: 50%;
    left: 0;
    height: 40%;
}

.news-grid-colour-1 h3 {
    color:#3c4e54;
    text-transform:uppercase;
    font-size: 22px;
    padding: 3% 0 0 3%;
    font-weight:bold;
    text-align:left;
}

.news-grid-colour-1 p {
    padding-left:3%;
    font-family: 'Helvetica', sans-serif;
}

.news-more-button {
    padding-left:3%;
    color:#3c4e54;
    font-size:18px;
    font-weight:bold;
    font-family: 'Helvetica', sans-serif;
}

.representatives {
    display:none;
}

.signup-home {
    text-align: center;
    background:#3c4e54;
    color:#fff;
    padding-top:5%;
    min-height: 220px;
    position: relative;
}

.signup-home h3 {
    font-size:23px;
    font-weight:bold;
    margin-bottom:6%;
    line-height: 35px;
}

.signup-now-button {
    color:#fff;
    font-size:22px;
    font-weight:bold;
    border:2px solid #fff;
    padding:1% 5% 1% 5%;
    text-transform: uppercase;
    background:#f07b05;
}

.signup-home img {
    width:30px;
    height:30px;
}

.footer-desktop {
    background:#2e2e2e;
    min-height:670px;
    position:relative;
    padding:2%;
    font-family: 'Helvetica', sans-serif;
}

.footer-desktop h5 {
    color:#fff;
    font-weight:bold;
}

.footer-01 img {
    padding:2%;
}

.footer-02 {
    color:#fff;
}

.footer-03 {
    color:#fff;
}

.footer-04 {
    color:#fff;
    margin-top:5%;
}

.footer-04 p {
    margin-top:5%;
}

.footer-04 img { 
    display: none;
}

a.footer-email-desk, a.footer-email-mob { 
    color:#fff;
}

.footer-04 img {
    margin-top:5%;
}

.footer-desktop p {
    color:#cccccc;
}

.footer-email-desk {
    display: none;
}
.footer-02 a, .footer-03 a {
    color:#fff;
}

/* Clubs & Societies */
h2.cs-title {
    text-align: left;
    color:#3c4e54;
    font-size:23px;
    font-weight:bold;
    text-transform: uppercase;
    padding:5%;
    margin:0;
}

.cs-para {
    padding-bottom:7%;
    font-size:17px;
    font-family: 'Helvetica', sans-serif;
}

.cs-faqs {
    min-height:730px;
}

.club-grid-01 {
    background: url(../images/clubs-and-societies/grid/tile-1-clubs-societies-a-z-tile.png) top center no-repeat;
    height: 260px;
    margin-bottom:10%;
    position: relative;
}

.club-grid-02 {
    background: url(../images/clubs-and-societies/grid/tile-2-sign-up-club.png) top center no-repeat;
    height: 260px;
    margin-bottom:10%;
    position: relative;
}

.club-grid-03 {
    background: url(../images/clubs-and-societies/grid/tile-3-charity-and-fundraising.png) top center no-repeat;
    height: 260px;
    margin-bottom:10%;
    position: relative;
}

.club-grid-04 {
    background: url(../images/clubs-and-societies/grid/tile-4-business.png) top center no-repeat;
    height: 260px;
    margin-bottom:10%;
    position: relative;
}

.club-grid-colour-1 {
    background-color: rgba(240, 123, 5, 0.8);
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    text-align:center;
}

.club-grid-colour-1 h3 {
    color:#fff;
    text-transform:uppercase;
    font-size: 25px;
    padding: 3% 0 0 3%;
    font-weight:bold;
    text-align:center;
}

.clubs {
    min-height: 600px;
}

.club-grid-content {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.cs-faqs-content h4 {
    color:#3c4e54;
    font-size:16px;
    font-weight:bold;
    padding:5% 0 1% 5%;
    margin:0;
}

.cs-faqs-content p {
    font-family: 'Helvetica', sans-serif;
    padding:2% 0 0 5%;
}

.cs-faqs-content.last {
    margin-bottom: 7%;
}

.cs-faqs-content-button {
    text-align: center;
}

.cs-faqs-contact-button-mobile {
    text-decoration: none;
    color: #3c4e54;
    padding: 2% 10% 2% 10%;
    border-top: 3px solid #3c4e54;
    border-right: 3px solid #3c4e54;
    border-bottom: 3px solid #3c4e54;
    border-left: 3px solid #3c4e54;
    font-size: 23px;
    text-transform: uppercase;
}

.cs-faqs-contact-button-desktop, .cs-search-box {
    display:none;
}

/* A-Z Clubs and Societies */
.az-search-buttons button.btn.btn-secondary {
    border:1px solid #000;
    border-radius:1px;
    background:#f7f7f7;
    font-size:20px;
    font-family: 'Helvetica', sans-serif;
}

.az-search-buttons button.btn.btn-secondary.active {
    background:#cccccc;
}

.az-grid {
    background:#f7f7f7;
    min-height:500px;
    position:relative;
    margin-top:10%;
}

.az-grid h2 {
    text-align: center;
    color:#3c4e54;
    font-size:35px;
    font-weight:bold;
    text-transform: uppercase;
    padding:10%;
    margin:0;
}

.az-grid-01 {
    background: url(../images/clubs-and-societies/a-z/tile-1-chess.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.az-grid-02 {
    background: url(../images/clubs-and-societies/a-z/tile-2-painting.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.az-grid-03 {
    background: url(../images/clubs-and-societies/a-z/tile-3-dice.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.az-grid-04 {
    background: url(../images/clubs-and-societies/a-z/tile-4-minecraft.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.az-grid-05 {
    background: url(../images/clubs-and-societies/a-z/tile-5-Mens-Football-Club.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.az-grid-06 {
    background: url(../images/clubs-and-societies/a-z/tile-6-Netball.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.az-grid-07 {
    background: url(../images/clubs-and-societies/a-z/tile-7-statue.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.az-grid-08 {
    background: url(../images/clubs-and-societies/a-z/tile-8-hands.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.az-grid-09 {
    background: url(../images/clubs-and-societies/a-z/tile-9-Womens-Society.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.az-grid-colour-1 {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    top: 50%;
    left: 0;
    height: 44%;
}

.az-grid-colour-1 h3 {
    color:#3c4e54;
    text-transform:uppercase;
    font-size: 22px;
    padding: 3% 0 0 3%;
    font-weight:bold;
    text-align:left;
}

.az-grid-colour-1 p {
    padding:0 3% 0 3%;
    font-family: 'Helvetica', sans-serif;
}

.az-grid-more-button {
    padding-left:3%;
    color:#3c4e54;
    font-size:18px;
    font-weight:bold;
    font-family: 'Helvetica', sans-serif;
}

.az-03 { display:none; }
.az-search-box { margin-top:5%; }

.btn-group.az-search-buttons {
    margin-top:5%;
}

/* Clubs & Societies - Arts Page */
.art-intro h4 {
    color: #3c4e54;
    font-size: 20px;
    font-weight: bold;
    padding: 5% 0 1% 0;
    margin: 0;
}

.join-button {
    color:#fff;
    font-size:22px;
    font-weight:bold;
    border:2px solid #fff;
    padding:1% 5% 1% 5%;
    text-transform: uppercase;
    background:#f07b05;
    font-family: 'Oswald', sans-serif;
}

h2.art-title {
    text-align: left;
    color:#3c4e54;
    font-size:23px;
    font-weight:bold;
    text-transform: uppercase;
    padding:5%;
    margin:0;
}

.art-para {
    font-size:17px;
    font-family: 'Helvetica', sans-serif;
}

.art-instagram, .art-facebook, .art-twitter {
    margin-top:3%;
}

.art-social h4 {
    color: #3c4e54;
    font-size: 20px;
    font-weight: bold;
    padding: 15% 0 1% 0;
    margin: 0;
}

.carousel-caption.art { display:none; }

/* Presidential Team */
.ptp-hero-img {
    width:100%;
}

.ptp-representatives {
    min-height:500px;
    position:relative;
}

.ptp-representatives h2 {
    text-align: center;
    color:#3c4e54;
    font-size:35px;
    font-weight:bold;
    text-transform: uppercase;
    padding:10%;
    margin:0;
}

.ptp-representatives-grid-01 {
    background: url(../images/homepage/representatives/megan-student-president.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.ptp-representatives-grid-02 {
    background: url(../images/homepage/representatives/jack-m.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.ptp-representatives-grid-03 {
    background: url(../images/homepage/representatives/matthew-m-2.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.ptp-representatives-grid-04 {
    background: url(../images/homepage/representatives/milea-leone.png) top center no-repeat;
    height: 330px;
    margin:0;
}

.ptp-representatives-grid-colour-1 {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    top: 60%;
    left: 0;
}

.ptp-representatives-grid-colour-1 h3 {
    color:#3c4e54;
    text-transform:uppercase;
    font-size: 22px;
    padding: 3% 0 0 7%;
    font-weight:bold;
    text-align:left;
}

.ptp-representatives-grid-colour-1 p {
    padding-left:7%;
    font-family: 'Helvetica', sans-serif;
}

.ptp-representatives-more-button {
    padding-left:7%;
    color:#3c4e54;
    font-size:18px;
    font-weight:bold;
    font-family: 'Helvetica', sans-serif;
}

.signup-home-inverse {
    text-align: center;
    background:#f07b05;
    color:#fff;
    padding-top:5%;
    min-height: 220px;
    position: relative;
}

.signup-home-inverse h3 {
    font-size:23px;
    font-weight:bold;
    margin-bottom:6%;
    line-height: 35px;
}

.signup-now-button-inverse {
    color:#fff;
    font-size:22px;
    font-weight:bold;
    border:2px solid #fff;
    padding:1% 5% 1% 5%;
    text-transform: uppercase;
    background:#3c4e54;
    font-family: 'Oswald', sans-serif;
}

.signup-home-inverse img {
    width:30px;
    height:30px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        padding:1%;
    }
    .navbar-nav {
        font-size:10px;
    }
    .navbar .search, .navbar .account {
        margin-top:30%;
    }
    .navbar-nav>li>a {
        padding:6px 5px 0 5px;
    }
    .representatives {
        display:block;
        min-height:500px;
        position:relative;
    }
    .footer-04 img { 
        display: block;
    }
    .footer-email-mob {
        display: none;
    }
    .grid-colour-1.reverse {
        background-color: rgba(60, 78, 84, 0.9);
        position: relative;
        top: 50%;
        left: 0;
        height: 45%;
    }
    .grid-colour-2.reverse {
        background-color: rgba(240, 123, 5, 0.9);
        position: relative;
        top: 50%;
        left: 0;
        height: 45%;
    }
    .carousel-inner>.item>img {
        height:auto;
    }
    .representatives h2 {
        text-align: center;
        color:#3c4e54;
        font-size:45px;
        font-weight:bold;
        text-transform: uppercase;
        padding-top:1%;
    }   
    .representatives-grid-01 {
        background: url(../images/homepage/representatives/megan-student-president.png) top center no-repeat;
        height: 330px;
        margin: 5% 0 0 8%;
    }
    .representatives-grid-02 {
        background: url(../images/homepage/representatives/jack-m.png) top center no-repeat;
        height: 330px;
        margin: 5% 0 0 8%;
    }
    .representatives-grid-03 {
        background: url(../images/homepage/representatives/matthew-m-2.png) top center no-repeat;
        height: 330px;
        margin: 5% 0 0 8%;
    }
    .representatives-grid-04 {
        background: url(../images/homepage/representatives/milea-leone.png) top center no-repeat;
        height: 330px;
        margin: 5% 0 0 8%;
    }
    .representatives-grid-colour-1 {
        background-color: rgba(255, 255, 255, 1);
        position: relative;
        top: 50%;
        left: 0;
        height: 40%;
        text-align: center;
    }
    .representatives-grid-colour-1 h3 {
        color:#3c4e54;
        font-size: 22px;
        padding: 3% 0 0 3%;
        font-weight:bold;
        text-align:center;
        margin-top:2%;
    }
    .representatives-grid-colour-1 p {
        padding-left:3%;
        font-family: 'Helvetica', sans-serif;
        text-align:center;
        margin-bottom:3%;
    }
    .representatives-more-button {
        padding-left:3%;
        color:#3c4e54;
        font-size:22px;
        font-weight:bold;
        border:2px solid #3c4e54;
        padding:3% 15% 3% 15%;
        text-transform: uppercase;
        margin-top:2%;
    }
    .news-grid-colour-1 {
        left:23%;
        width:54%;
    }
    .news-grid-01, .news-grid-02, .news-grid-03 {
        border:none;
    }
    .hp-grid-01, .hp-grid-02, .hp-grid-03, .hp-grid-04, .hp-grid-05, .hp-grid-06 {
        width:45%;
        left:5%;
    }
    /* A-Z Clubs and Societies */
    .az-03 { display:block; }
    .signup-home.az { display:none; }
    .az-search-box {
        width:35%;
        margin-top:2%;
    }
    .btn-group.az-search-buttons, .az-grid {
        margin-top:2%;
    }
    /* Art Club */
    .signup-home.art { display:none; }
}

/* DESKTOP */
@media(min-width:1200px){
/*@media (min-width: 1025px) and (max-width: 1280px) {*/
    .navbar {
        padding:1%;
    }
    .representatives {
        display:block;
        min-height:500px;
        position:relative;
    }
    .footer-email-desk {
        display: block;
        margin-top:25%;
    }
    .footer-04 img { 
        display: block;
    }
    .footer-email-mob {
        display: none;
    }
    .grid-colour-1.reverse {
        background-color: rgba(60, 78, 84, 0.9);
        position: relative;
        top: 50%;
        left: 0;
        height: 45%;
        width:88%;
    }
    .grid-colour-2.reverse {
        background-color: rgba(240, 123, 5, 0.9);
        position: relative;
        top: 50%;
        left: 0;
        height: 45%;
        width:88%;
    }
    .grid-colour-1, .grid-colour-2 {
        width:88%;
    }
    .carousel-inner>.item>img {
        height:auto;
    }
    .navbar .search, .navbar .account {
        margin-top:20%;
    }
    .navbar-nav>li>a {
        font-size:20px;
    }
    .search { display:none; }
    .input-group.search-box { 
        width:100%;
        display:inline-flex; 
        margin-top:15%;
    }
    .navbar-inverse .navbar-collapse {
        margin-top:1%;
    }
    .carousel-caption{
        bottom:25%;
    }
    .carousel-caption h3 {
        font-size:55px;
        position: relative;
        text-transform:uppercase;
    }
    .carousel-caption p {
        font-size:30px;
        line-height:35px;
        margin-bottom:5%;
    }
    .button-carousel {
        text-decoration: none;
        background-color: #e65722;
        color: #fff;
        padding: 1% 3% 1% 3%;
        border-top: 3px solid #f2f2f2;
        border-right: 3px solid #f2f2f2;
        border-bottom: 3px solid #f2f2f2;
        border-left: 3px solid #f2f2f2;
        font-size:28px;
        text-transform: uppercase;
    }
    a:hover.button-carousel {
        color:#cccccc;
        text-decoration:none;
    }
    .grid-container {
        margin-top:5%;
    }
    .hp-grid-04, .hp-grid-05, .hp-grid-06 {
        margin-top:5%;
        height:300px;
    }
    .hp-grid-01, .hp-grid-02, .hp-grid-03 {
        height:300px;
    } 
    .latest-news h2 {
        padding:5%;
    }
    .latest-news {
        margin-top:3%;
        min-height:540px;
    }
    .news-grid-colour-1 {
        height:50%;
    }
    .news-grid-colour-1 h3 {
        padding:7% 0 0 5%;
    }
    .news-grid-colour-1 p, .news-more-button {
        padding-left:5%;
    }
    .representatives h2 {
        text-align: center;
        color:#3c4e54;
        font-size:45px;
        font-weight:bold;
        text-transform: uppercase;
        padding-top:1%;
    }   
    .representatives-grid-01 {
        background: url(../images/homepage/representatives/megan-student-president.png) top center no-repeat;
        height: 330px;
        margin: 10% 0 0 8%;
    }
    .representatives-grid-02 {
        background: url(../images/homepage/representatives/jack-m.png) top center no-repeat;
        height: 330px;
        margin: 10% 0 0 8%;
    }
    .representatives-grid-03 {
        background: url(../images/homepage/representatives/matthew-m-2.png) top center no-repeat;
        height: 330px;
        margin: 10% 0 0 8%;
    }
    .representatives-grid-04 {
        background: url(../images/homepage/representatives/milea-leone.png) top center no-repeat;
        height: 330px;
        margin: 10% 0 0 8%;
    }
    .representatives-grid-colour-1 {
        background-color: rgba(255, 255, 255, 1);
        position: relative;
        top: 60%;
        left: 0;
        height: 40%;
        text-align: center;
    }
    .representatives-grid-colour-1 h3 {
        color:#3c4e54;
        font-size: 22px;
        padding: 6% 0 0 3%;
        font-weight:bold;
        text-align:center;
        margin-top:2%;
    }
    .representatives-grid-colour-1 p {
        padding-left:3%;
        font-family: 'Helvetica', sans-serif;
        text-align:center;
        margin-bottom:10%;
    }
    .representatives-more-button {
        padding-left:3%;
        color:#3c4e54;
        font-size:22px;
        font-weight:bold;
        border:2px solid #3c4e54;
        padding:3% 15% 3% 15%;
        text-transform: uppercase;
        margin-top:2%;
    }
    .signup-home img {
        width:50px;
        height:50px;
    }
    .signup-home {
        padding-top:2%;
    }
    .signup-home h3 {
        margin-bottom:2%;
    }
    .footer-desktop {
        min-height:320px;
    }
    .footer-desktop h5 {
        margin-bottom:5%;
    }
    .footer-04 p {
        margin-top:30%;
    }
    /* Clubs & Societies */
    .cs-faqs-contact-button-mobile { display: none; }
    .cs-faqs-contact-button-desktop {
        display:block;
        text-decoration: none;
        color: #3c4e54;
        padding: 2% 1% 2% 1%;
        border-top: 3px solid #3c4e54;
        border-right: 3px solid #3c4e54;
        border-bottom: 3px solid #3c4e54;
        border-left: 3px solid #3c4e54;
        font-size: 23px;
        text-transform: uppercase;
        width:50%;
        margin:5% 0 0 5%;
    }
    .cs-search-box {
        display:block;
        margin-top:2%;
    }
    .cs-search-box .input-group {
        width:30%;
        margin:0 auto;
    }
    .cs-search-box .form-control {
        border-radius:1px;
        height:45px;
        
    }
    .cs-search-box .btn {
        padding:10.5px 12px;
        border-left:none;
    }
    h2.cs-title {
        font-size:25px;
        padding:3% 5% 1% 5%;
    }
    .cs-para {
        padding: 1% 8% 4% 8%;
    }
    .club { 
        background-color:#f7f7f7;
        padding-top:3%;
    }
    .club-grid-content a:hover {
        text-decoration: none;
    }
    .club-grid-colour-1 h3 {
        font-size:32px;
    }
    .cs-faqs-content h4 {
        font-size:20px;
    }
    .cs-faqs-content p {
        font-size:16px;
    }
    .cs-faqs {
        min-height: 500px;
    }
    /* A-Z Clubs and Societies */
    .az-03 { display:block; }
    .signup-home.az { display:none; }
    .az-search-box {
        width:35%;
        margin-top:2%;
    }
    .btn-group.az-search-buttons, .az-grid {
        margin-top:2%;
    }
    /* Art Club */
    .signup-home.art { display:none; }
    h2.art-title {
        font-size:25px;
        padding:3% 5% 1% 5%;
    }
    .art-para {
        padding: 1% 8% 4% 8%;
    }
    .art-intro h4 {
        padding: 1% 8% 4% 8%;
    }
    .carousel-caption.art { display:block; }
}